<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>..\artifacts\pub\AigioLTemplate.WebHost\win-x64</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<_TargetId>Folder</_TargetId>
		<TargetFramework>net11.0-windows10.0.19041.0</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishAot>false</PublishAot>
		<!-- 删除支持更好的调试体验的代码。 此设置还会删除符号。 -->
		<DebuggerSupport>false</DebuggerSupport>
		<StackTraceSupport>false</StackTraceSupport>
		<EventSourceSupport>false</EventSourceSupport>
		<SiteUrlToLaunchAfterPublish />
		<SelfContained>true</SelfContained>
		<PublishSingleFile>true</PublishSingleFile>
	</PropertyGroup>
</Project>