<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<PublishProtocol>FileSystem</PublishProtocol>
		<_TargetId>Folder</_TargetId>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishAot>true</PublishAot>
		<TargetFramework>net10.0</TargetFramework>
		<NativeLib>Shared</NativeLib>
		<PublishDir>..\artifacts\pub\AigioLTemplate.DllExport\win-x64\$(NativeLib)</PublishDir>
		<!-- 删除支持更好的调试体验的代码。 此设置还会删除符号。 -->
		<DebuggerSupport>false</DebuggerSupport>
		<StackTraceSupport>false</StackTraceSupport>
		<EventSourceSupport>false</EventSourceSupport>
	</PropertyGroup>
</Project>